<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <!-- Product details column -->
  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
  </article>

  <!-- Reviews details column -->

<div class="product-reviews">
  <h3 class="section-title">Product Reviews</h3>

<!-- a new review form  -->
 
  <div class="new-review-form">
<!-- conditionally render review form depending on if user is authenticated review form  -->
  <% if current_user %>

    <h3>Add a Review</h3>
    <%= form_for [@product, Review.new], url: product_reviews_path(@product), local: true do |form| %>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, rows: 4, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating, 1..5, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= form.submit "Submit Review", class: 'btn btn-primary' %>
      </div>
    <% end %>
<!-- if not authenticated -->
    <% else %>
    <div class="alert alert-info">
      Please log in to add a review.
    </div>
  <% end %>

  </div>


<!-- render all reviews   -->
  <div class="reviews-list">
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="review-header">
          <h4 class="review-author"><%= review.user.first_name %> <%= review.user.last_name %></h4>
          <div class="rating-stars">

          <%# render partial rating stars %>
            <%= render partial: 'shared/rating_stars', locals: { rating: review.rating } %>
          </div>

          <% if current_user  && review.user == current_user %>
            <%= link_to 'Delete', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          <% end %>

        </div>
        <p class="review-description"><%= review.description %></p>
      </div>
    <% end %>
  </div>
</div>

</section>
